<h1>Add  room</h1>

<%= form_for @room do |f| %>
  <div class="form-group">
    <%= f.label :rname %>
    <%= f.text_field :rname, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.submit "Add!", class: 'btn btn-primary' %>
<% end %>
